<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" asp-controller="AdminHome" asp-action="Index">ZeroX Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" asp-controller="AdminProject" asp-action="Index">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="AdminMember" asp-action="Index">Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="AdminInformation" asp-action="Index">Infomation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="AdminBlog" asp-action="Index">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="AdminEmail" asp-action="Index">Email</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="email" placeholder="Email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav>

  <div>
    @RenderBody()
  </div>
  
  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ZeroXTeam - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
