version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 5001:5001
      - 5000:5000
    environment:
      - ASPNETCORE_ENVIRONMENT="Development"
    volumes:
      - .:/home/app
    depends_on:
      - postgres
    command:
      ["./scripts/wait-for-it.sh", "postgres:5432", "--", "./scripts/run.sh"]

  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: Postgres1234
      POSTGRES_USER: postgres
      POSTGRES_DB: ZeroXTeam
    volumes:
      - ./_pgData:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
