@{
  ViewData["Title"] = "Register"; 
  var ValidError = TempData["ValidError"];
}

@model ZeroXTeam.Entities.AdminAccountViewModel

<div class="container mb-2" style="margin-top: 3rem;">
  <form asp-controller="AdminHome"
        asp-action="RegisterPost" 
      class="text-center" style="width: 34rem; margin: 0 auto">
    <h3 class="mb-4">Register account</h3>

    @if (ValidError != null)
    {
      <div class="alert alert-danger">
        @ValidError
      </div>
    }

    <div class="form-group">
      <input type="email" placeholder="Email" class="form-control" asp-for="Email" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Name" class="form-control" asp-for="Name">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" asp-for="Password"> 
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn btn-success">
      Register
    </button>
  </form>
</div>