<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper">
    <a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Liên hệ</span>
  </div>
</nav>
<!-- /contact breadcrumbs -->

<!-- contact form -->
<section class="w3l-contact" id="contact">
  <div class="container py-5">
    <div class="contacts12-main py-md-3">
      <div class="header-section mb-5 text-center">
        @if (TempData["SuccessMessage"] != null)
        {
          <div class="alert alert-success mt-4" style="width: 30rem; margin: 0 auto">
            @TempData["SuccessMessage"]
          </div>            
        }
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 text-center">
          <img src="~/images/contact.jpg" class="img-curve img-fluid" alt="">
        </div>
        <div class="col-lg-6 position-relative">
          <div class="contact-form">
            <div class="header-section mb-4 text-left">
              <h3>Liên hệ chúng tôi</h3>
              <p class="mt-2 mb-3"> Chúng tôi sẽ cố gắng trả lời sớm nhất có thể, lâu nhất là khoảng vài ngày </p>
            </div>
            <form asp-action="PostContact" asp-controller="Home" method="POST">
              <div class="main-input">
                <input type="text" name="Name" placeholder="Tên của bạn" class="contact-input" required />
                <input type="email" name="Mail" placeholder="Email của bạn" class="contact-input" required />
                <input type="text" name="Subject" placeholder="Tiêu đề" class="contact-input" />
                <textarea class="contact-textarea contact-input" name="Message" placeholder="Bạn muốn nhắn gửi gì đến chúng tôi" required=""></textarea>
              </div>
              <div class="text-right">
                <button class="btn-primary btn theme-button">Gửi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contant11-top-bg py-5">
    <div class="container py-lg-3">
      <div class="header-section text-center mb-5 mx-auto">
        <h6 class="sub-title mb-3">More information</h6>
        <h3>Thêm thông tin về chúng tôi</h3>
        <p class="my-3"> Có nhiều cách khác để liên hệ với chúng tôi, các bạn có thể tham khảo bên dưới.</p>
      </div>
      <div class="d-grid contact section-gap">
        <div class="contact-info-left d-grid">
          <div class="contact-info">
            <div class="icon">
              <span class="fa fa-location-arrow" aria-hidden="true"></span>
            </div>
            <div class="contact-details">
              <h4>Địa Chỉ Liên Lạc</h4>
              <p>54 Nguyễn Lương Bằng, Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng, Việt Nam</p>
            </div>
          </div>
          <div class="contact-info">
            <div class="icon">
              <span class="fa fa-phone" aria-hidden="true"></span>
            </div>
            <div class="contact-details">
              <h4>Điện Thoại</h4>
              <p><a href="tel:+84932502578">+84932502578</a></p>
            </div>
          </div>
          <div class="contact-info">
            <div class="icon">
              <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
            </div>
            <div class="contact-details">
              <h4>Email</h4>
              <!-- <p><a href="mailto:info@masterwork.com" class="email">info@masterwork.com</a></p> -->
              <p><a href="mailto:support@zeroxteam.com" class="email">support@zeroxteam.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8396925331817!2d108.14772551466335!3d16.073806443585205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68e8ccb03%3A0x64dc2cb3e38bbdaf!2zNTQgTmd1eeG7hW4gTMawxqFuZyBC4bqxbmcsIEhvw6AgS2jDoW5oIELhuq9jLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1631776350158!5m2!1svi!2s"
      frameborder="0" allowfullscreen=""></iframe>
  </div>
</section>
<!-- //contact form -->