@{
  ViewData["Title"] = "Không thấy trang đâu hết :D";
}

<div class="container">
  <div class="row align-items-center" style="margin: 8rem 0;">
    <div class="col-md-6 col-sm-12">
      <h1 class="mb-4">404 - Page not found</h1>
      <h2 class="mb-4 sub-title ">Lỗi không tìm thấy trang.</h2>
      <p>Trang này đã có thể bị xóa hoặc chưa từng tồn tại trước đây, hãy liên hệ với chúng tôi nếu cần thiết</p>
      <hr>
      <a href="/" class="btn btn-primary">Trở lại trang chủ</a>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="~/images/detective.jpg" alt="Detective" class="img-fluid">
    </div>
  </div>
</div>