.btn-white {
  background-color: white;
  padding: 1rem 1.2rem;
  color: #d00d26;
  font-weight: 700;
  transition: .3s all;
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.btn-white::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .5s all;
}

.btn-white:hover {
  transform: translateY(-.5rem);
}

.btn-white:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn.btn-white:hover {
  color: #d00d26;
}